@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}


body{
  width: 100%;
  overflow-x: hidden !important;
  background-color: black;
}

.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
}

.yellow-gradient{
  background: rgb(255,197,70);
background: linear-gradient(25deg, rgba(255,197,70,1) 35%, rgba(228,161,16,1) 100%);
}